<h1>Create A New Article</h1>

<form action="/articles" method="POST">
    Article Title:
    <br>
    <input type="text" name="title">
    <br>
    <br>
    Content:<br>
    <textarea name="content" cols="50" rows="10"></textarea>
    <br>
    <br>
    <input type="submit">
</form>