<h1><%= @article.title %></h1>
<%= @article.content %>
<br>
<br>
<form action="/articles/<%=@article.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
</form>

<a href="/">Return Home</a>